@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/HomeMaster.cshtml";
}

<div class="row" data-aos="slide-down">
              <div class="col-sm-3"></div>
               <div class="col-sm-6" style="min-height:500px;background:#f8f9fa; margin-top:20px; border-radius:30px 30px 30px 30px;">
                   <h1 style="color:#000000;font-size:20px;text-align:center;" ><strong>About The Real Estate</strong></h1>
                   <div class="box" style="height:250px;width:250px;background:#f8f9fa; float:left;">
                       <img src="~/Content/img/real4.jpg" height="250px" width="250px" />
                      
                   </div>
                 
                     <p><a href="https://commons.wikimedia.org/wiki/File:India_Uttar_Pradesh_location_map.svg#/media/File:India_Uttar_Pradesh_location_map.svg"><img src="https://upload.wikimedia.org/wikipedia/commons/7/7f/India_Uttar_Pradesh_location_map.svg" alt="Taj Mahal is located in Uttar Pradesh" height="250px" width="350px;"></a><br>By <a href="//commons.wikimedia.org/wiki/User:NordNordWest" title="User:NordNordWest"></a> - <span class="int-own-work" lang="en">Own work</span>, usingUnited States National Imagery and Mapping Agency data, <a href="https://creativecommons.org/licenses/by-sa/3.0/de/deed.en" title="Creative Commons Attribution-Share Alike 3.0 de">CC BY-SA 3.0 de</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=21989413">Link</a></p>
                   <center><h2><strong>About</strong></h2></center>
                   <p>
                       The building complex incorporates the design traditions of Indo-Islamic and Mughal architecture. It employs symmetrical constructions with the usage of various shapes and symbols. While the mausoleum is constructed of white marble inlaid with semi-precious stones, red sandstone was used for other buildings in the complex similar to the Mughal era buildings of the time. The construction project employed more than 20,000 workers and artisans under the guidance of a board of architects led by Ustad Ahmad Lahori, the emperor's court architect.

                   </p>
               </div>
               <div class="col-sm-3"></div>

          </div>

<br />
<div class="row" style="min-height:200px;background-image:url('../Content/img/about2.jpg');background-size:cover">
   <p style="font-size:60px;text-align:center;padding-top:50px;padding-left:550px;color:wheat">About Us</p>
</div>
<br />
<br />
<br /><br /><br /><br />
<div class="row">
    <div class="col-sm-1"></div>
    <br />
     <div class="col-sm-10">
        <p style="color:#deb271;font-size:34px;font-size:40px;font-family:'LATO'">Discover Beyond Bricks and Walls </p> 
         <p style="color:#deb271;font-size:15px;font-size:40px;font-family:'LATO'"><h4>Established in 1988, the Shalimar Group, popularly known as Premium home builders, is a diversified Business House headquartered in Lucknow, Uttar Pradesh, India. The Group’s footprints span sectors such as Real Estate, Property Management, various Highway Infrastructure, Civil Construction and Glass Processing. An ever growing and expanding business portfolio is the group's hallmark which is steadily establishing itself as a leading Business Conglomerate.<br /><br />
             Built on the cornerstones of Knowledge, Efficient Management & Transparency; Shalimar is well poised to contribute to and <br />utilize the growth & development in each of these sectors. The luxury property builders in Lucknow have already developed nearly 6 million sq.<br /><br /> ft. of residential & commercial property and is set to develop an additional 15 million sq. ft. area spread in major cities of UP and Delhi+NCR in the next couple of years. The Group envisions to enrich lives and raise the standard of living of society at large.<br /><br />
             The Group’s mission is to provide world class products & services in each of its areas of operations through the tenets of Knowledge & Expertise.<br />

At the Shalimar Group, we have a strong and dedicated team of over 1500 personnel who are our partners in success. It is because of their dedication that we have developed a large base of satisfied customers, who are indeed priceless.
             <br /><br />
              Built on the cornerstones of Knowledge, Efficient Management & Transparency; Shalimar is well poised to contribute to and <br />utilize the growth & development in each of these sectors. The luxury property builders in Lucknow have already developed nearly 6 million sq.<br /><br /> ft. of residential & commercial property and is set to develop an additional 15 million sq. ft. area spread in major cities of UP and Delhi+NCR in the next couple of years. The Group envisions to enrich lives and raise the standard of living of society at large.<br /><br />
            </h4>

</p>
     </div>
     <div class="col-sm-1"></div>
</div><br /><br /><br />
<hr /><br />
<div class="row">
    <div class="col-sm-5" style="min-height:500px">
        <h1 style="color:#deb271;font-family:'OPTIMA';font-weight:100;padding-left:20px">Our Vision</h1><br />
        <p style= "color:black; font-size:15px;font-family:'LATO';padding-left:20px"data-aos="zoom-out" data-aos-delay="500">
            The Shalimar Group is synonymous with luxury property development in Lucknow. As a diversified business conglomerate based in the capital of Uttar Pradesh, Shalimar has been instrumental in transforming unorganized and unstructured landscapes into organized and visionary developments, complete with top-tier amenities, facilities, and infrastructure.<br />

        </p>
         <p style="font-size:15px; color:black;font-family:'LATO';padding-left:20px"data-aos="slide-left" data-aos-delay="500">
            The Shalimar Group is synonymous with luxury property development in Lucknow. As a diversified business conglomerate based in the capital of Uttar Pradesh, Shalimar has been instrumental in transforming unorganized and unstructured landscapes into organized and visionary developments, complete with top-tier amenities, facilities, and infrastructure.<br /><br />

        </p>
         <p style="font-size:15px; color:black;font-family:'LATO';padding-left:20px"data-aos="zoom-int" data-aos-delay="500">
          With vast land parcels acquired within Lucknow and Prayagraj, and upcoming acquisitions in Kanpur and Varanasi, Shalimar Group is gearing up to set new benchmarks in enriching lives and enhancing lifestyles. As a leader in real estate development, Shalimar is dedicated to creating extraordinary living experiences and shaping the future of urban landscapes in Uttar Pradesh and even beyond. 

        </p>
    </div>
        <div class="col-sm-1" style="min-height:500px"></div>
    <div class="col-sm-6" style="min-height:500px"data-aos="slide-left">
        <img src="../Content/IMG/real12.jpg"height="500px"; width="100%" data-aos="flip-left" data-aos-delay="600"/>
    </div>
</div> <br /><br />
<div class="row" data-aos="fade-up">
     
    <div class="col-sm-6" style="min-height:500px" data-aos="slide-left">
        <img src="../Content/img/real11.jpg"height="500px"; width="100%" />
    </div>
    <div class="col-sm-1" style="min-height:500px"></div>
    <div class="col-sm-5" style="min-height:500px" data-aos="slide-right>
        <h1 style="color:#deb271;font-family:'OPTIMA';font-weight:100;padding-left:20px">Our Vision</h1><br />
        <p style= "color:black; font-size:15px;font-family:'LATO';padding-left:20px" data-aos="slide-down" data-aos-delay="500">
            The Shalimar Group is synonymous with luxury property development in Lucknow. As a diversified business conglomerate based in the capital of Uttar Pradesh, Shalimar has been instrumental in transforming unorganized and unstructured landscapes into organized and visionary developments, complete with top-tier amenities, facilities, and infrastructure.<br />

        </p>
         <p style="font-size:15px; color:black;font-family:'LATO';padding-left:20px" data-aos="slide-up" data-aos-delay="500">
            The Shalimar Group is synonymous with luxury property development in Lucknow. As a diversified business conglomerate based in the capital of Uttar Pradesh, Shalimar has been instrumental in transforming unorganized and unstructured landscapes into organized and visionary developments, complete with top-tier amenities, facilities, and infrastructure.<br /><br />

        </p>
         <p style="font-size:15px; color:black;font-family:'LATO';padding-left:20px"data-aos="zoom-out" data-aos-delay="500">
          With vast land parcels acquired within Lucknow and Prayagraj, and upcoming acquisitions in Kanpur and Varanasi, Shalimar Group is gearing up to set new benchmarks in enriching lives and enhancing lifestyles. As a leader in real estate development, Shalimar is dedicated to creating extraordinary living experiences and shaping the future of urban landscapes in Uttar Pradesh and even beyond. 

        </p>
    </div>
       
</div>

