@{
    ViewBag.Title = "Clubs";
    Layout = "~/Views/Shared/HomeMaster.cshtml";
}

<br /><br />
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-4" style="min-height:430px; background-image:url('../Content/img/real19.jpg'); background-size:cover;">
        
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-4" style="min-height:430px; background-image:url('../Content/img/real11.jpg'); background-size:cover;">
        
    </div>
</div>
<div class="row">
     <div class="col-sm-1"></div>
    <div class="col-sm-4" style="min-height:80px;">
        <p style="font-size:27.232px; font-family:'lato';">SHALIMAR ONEWORLD PROJECTS</p>
          <p style="color:#BB9632;">Gomti Nagar Extension Road, Lucknow |</p>  <p> 225 Acre Township</p> 
         <button style="height:35px;width:150px; margin-left:-5px; margin-top:10px; height:40px; background:#BB9632; color:white"> View Project </button>

    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-4" style="min-height:70px;">
        <p style="font-size:27.232px; font-family:'lato';">SHALIMAR ONEWORLD PROJECTS</p>
        <p style="color:#BB9632;">Gomti Nagar Extension Road, Lucknow |</p> <p> 225 Acre Township</p>
        <button style="height:35px;width:150px; margin-left:-5px; margin-top:10px; height:40px; background:#BB9632; color:white"> View Project </button> 
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-4" style="min-height:430px; background-image:url('../Content/IMG/real14.jpg'); background-size:cover;">
        
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-4" style="min-height:430px; background-image:url('../Content/img/real18.jpg'); background-size:cover;">
        
    </div>
</div>
<div class="row">
     <div class="col-sm-1"></div>
    <div class="col-sm-4" style="min-height:80px;">
        <p style="font-size:27.232px; font-family:'lato';">SHALIMAR ONEWORLD PROJECTS</p>
          <p style="color:#BB9632;">Gomti Nagar Extension Road, Lucknow |</p>  <p> 225 Acre Township</p> 
         <button style="height:35px;width:150px; margin-left:-5px; margin-top:10px; height:40px; background:#BB9632; color:white"> View Project </button>

    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-4" style="min-height:70px;">
        <p style="font-size:27.232px; font-family:'lato';">SHALIMAR ONEWORLD PROJECTS</p>
        <p style="color:#BB9632;">Gomti Nagar Extension Road, Lucknow |</p> <p> 225 Acre Township</p>
        <button style="height:35px;width:150px; margin-left:-5px; margin-top:10px; height:40px; background:#BB9632; color:white"> View Project </button> 
    </div>
</div>
<br />
