@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/HomeMaster.cshtml";
}
<style>
    table, th, td {
  border:1px solid black;
}
    button {
     color:red;
     background:#E81C28;
    }
        button:hover {
            background:white;
         
        }
</style>

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row" data-aos="fade-up">
    <div class="col-sm-2"></div>
     <div class="col-sm-8">
         <div class="box8"style="background:#c1c1c1;min-height:200px;width:300px;float:left;margin-left:10px;border:1px solid black">
         <img src="../Content/img/real2.jpg" height="200px"; width="300px" />
             </div>
         <div class="box6" style="background:white;height:250px;width:500px;float:left;margin-left:10px">
             <h2 style="color:#292929;font-size:16px;font-family:'Roboto';font-weight:900">10 BHK Independent house</h2>
             <strong>Area Colony</strong><span>, Bhopal</span><hr />
            <table style="width:100%">
  <tr>
    <th>5.5Cr</th>
    <th>4500</th>
    <th>Ready To Move</th>
  </tr>
  <tr>
    <td>12,222 / sq ft</td>
    <td>Area In sq ft</td>
    <td>Construction status</td>
  </tr>
                </table> 
             <br />
             <a href="#" style="font-size:18px;padding-left:200px;font-family:'Roboto'">View Phone</a>
             <button style="height:30px;width:200px;border-radius:10px 10px 10px 10px;color:white">Connect now</button>
             <p style="font-size:40px;">f005;</p>
             
         </div>
     </div>
     <div class="col-sm-2"></div>
</div>
<hr />
<div class="row">
    <div class="col-sm-2"></div>
     <div class="col-sm-8">
         <div class="box8"style="background:#c1c1c1;min-height:200px;width:300px;float:left;margin-left:10px">
         <img src="../Content/img/real21.jpg" height="200px"; width="300px" />
             </div>
         <div class="box6" style="background:white;height:250px;width:500px;float:left;margin-left:10px">
             <h2 style="color:#292929;font-size:16px;font-family:'Roboto';font-weight:900">18 BHK Builds</h2>
             <strong>Area Colony</strong><span>, Noida</span><hr />
            <table style="width:100%">
  <tr>
    <th>5.5Cr</th>
    <th>4500</th>
    <th></th>
  </tr>
  <tr>
    <td>12,222 / sq ft</td>
    <td>Area In sq ft</td>
    <td>Construction status</td>
  </tr>
                </table> 
             <br />
             <a href="#" style="font-size:18px;padding-left:200px;font-family:'Roboto'">View Phone</a>
             <button style="height:30px;width:200px;border-radius:10px 10px 10px 10px;color:white">Connect now</button>
             <p style="font-size:40px;">f004;</p>
             
         </div>
     </div>
     <div class="col-sm-2"></div>
</div>
<hr />
<div class="row">
    <div class="col-sm-2"></div>
     <div class="col-sm-8">
         <div class="box8"style="background:#c1c1c1;min-height:200px;width:300px;float:left;margin-left:10px">
         <img src="../Content/img/real3.jpg" height="200px"; width="300px" />
             </div>
         <div class="box6" style="background:white;height:250px;width:500px;float:left;margin-left:10px">
             <h2 style="color:#292929;font-size:16px;font-family:'Roboto';font-weight:900">28 BHK House</h2>
             <strong>Area Colony</strong><span>, Delhi</span><hr />
            <table style="width:100%">
  <tr>
    <th>5.5Cr</th>
    <th>4500</th>
    <th>Ready for Buisness</th>
  </tr>
  <tr>
    <td>28,299 / sq ft</td>
    <td>Area In sq ft</td>
    <td>Construction status</td>
  </tr>
                </table> 
             <br />
             <a href="#" style="font-size:18px;padding-left:200px;font-family:'Roboto'">View Phone</a>
             <button style="height:30px;width:200px;border-radius:10px 10px 10px 10px;color:white">Connect now</button>
             <p style="font-size:40px;">f004;</p>
             
         </div>
     </div>
     <div class="col-sm-2"></div>
</div>
<hr />
<div class="row">
    <div class="col-sm-2"></div>
     <div class="col-sm-8">
         <div class="box8"style="background:#c1c1c1;min-height:200px;width:300px;float:left;margin-left:10px">
         <img src="../Content/img/real5.jpg" height="200px"; width="300px" />
             </div>
         <div class="box6" style="background:white;height:250px;width:500px;float:left;margin-left:10px">
             <h2 style="color:#292929;font-size:16px;font-family:'Roboto';font-weight:900">10 BHK Independent house</h2>
             <strong>Area Colony</strong><span>, Bhopal</span><hr />
            <table style="width:100%">
  <tr>
    <th>5.5Cr</th>
    <th>4500</th>
    <th>Ready To Move</th>
  </tr>
  <tr>
    <td>12,222 / sq ft</td>
    <td>Area In sq ft</td>
    <td>Construction status</td>
  </tr>
                </table> 
             <br />
             <a href="#" style="font-size:18px;padding-left:200px;font-family:'Roboto'">View Phone</a>
             <button style="height:30px;width:200px;border-radius:10px 10px 10px 10px;color:white">Connect now</button>
             <p style="font-size:40px;">f004;</p>
             
         </div>
     </div>
     <div class="col-sm-2"></div>
</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="row" style="background:#fcfbfb" data-aos="slide-up">
     <div class="col-sm-1"></div>
    
         <div class="col-sm-6" style="min-height:400px"data-aos="flip-down">
             <p style="padding-top:50px;padding-left:50px;font-size:70px">"</p>
              <p style="padding-left:50px;font-size:15px;padding-top:-30px"data-aos="slide-left">Help // Service // Support</p>
             <p style="padding-left:50px;font-size:35px;font-family:'Urbane'" data-aos="slide-right">Needs & Support</p>
             <p style="padding-left:50px;font-size:13px;font-family:'Montserrat'"data-aos="slide-up"data-aos="flip-right">Alex is a property manager by trade. His passion in real estate is<br /> Investing and working with owners to maximize their investment potential, and specializing in renting units out quickly and for the best price possible on a secure lease that<br /> Protects both the property owner and the tenant.

If you’re looking for someone you can trust with your investments, trust the Dwell Management Group team to take care of all your management needs.<br /><br /> If you’re looking for investment opportunities, please reach out, and we can do a rental analysis and a selling analysis to let you make the most informed decisions on what to do with your rental property.</p>
         </div>
     <div class="col-sm-5"data-aos="zoom-in">
         <img src="../Content/IMG/real10.jpg" height="400px" width="80%" style="margin-left:50px;margin-top:50px"data-aos="slide-right" />  
         <div class="row">
              <div class="col-sm-4"style="background:white;margin-top:-30px;min-height:30px"data-aos="flip-up"></div>
              <div class="col-sm-8" style="background:white;margin-top:-100px"data-aos="fade-down">
                  <p style="padding-left:25px;padding-top:15px;min-height:30px;font-size:30px"data-aos="flip-left">Alex Brainard</p>
              </div>
             
         </div>   

     </div>
         <div class="col-sm-1"></div>
</div>

<div class="row" style="background:#fcfbfb" data-aos="slide-up">
    
     <div class="col-sm-5"data-aos="zoom-in">
         <img src="../Content/IMG/real18.jpg" height="400px" width="80%" style="margin-left:50px;margin-top:50px"data-aos="slide-right" />  
         <div class="row">
              <div class="col-sm-4"style="background:white;margin-top:-30px;min-height:30px"data-aos="flip-up"></div>
              <div class="col-sm-8" style="background:white;margin-top:-100px"data-aos="fade-down">
                  <p style="padding-left:25px;padding-top:15px;min-height:30px;font-size:30px"data-aos="flip-left">Alex Brainard</p>
              </div>
             
         </div>   

     </div>
         <div class="col-sm-6" style="min-height:400px"data-aos="flip-down">
             <p style="padding-top:50px;padding-left:50px;font-size:70px">"</p>
              <p style="padding-left:50px;font-size:15px;padding-top:-30px"data-aos="slide-left"> Facalities// Center // Office</p>
             <p style="padding-left:50px;font-size:35px;font-family:'Urbane'" data-aos="slide-right">Customer Service</p>
             <p style="padding-left:50px;font-size:13px;font-family:'Montserrat'"data-aos="slide-up"data-aos="flip-right">Alex is a property manager by trade. His passion in real estate is<br /> Investing and working with owners to maximize their investment potential, and specializing in renting units out quickly and for the best price possible on a secure lease that<br /> Protects both the property owner and the tenant.

If you’re looking for someone you can trust with your investments, trust the Dwell Management Group team to take care of all your management needs.<br /><br /> If you’re looking for investment opportunities, please reach out, and we can do a rental analysis and a selling analysis to let you make the most informed decisions on what to do with your rental property.</p>
         </div>
         <div class="col-sm-1"></div>

</div>