@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminZoneMaster.cshtml";
}
<style>
     * {
           
          
            font-family:'Lato';
        }
</style>
         <div class="row">

                    <div class="outer-w3-agile col-xl">
                        <center>
                            <h1><u>Client </u></h1>
                        <div class="stat-grid p-3 mt-3 d-flex align-items-center justify-content-between">
                            <div class="s-l">
                                <h5 style="color:black">Booking</h5>

                            </div>
                            <div class="s-r">
                                <h6 style="color:black">250
                                    <i class="fa fa-th"></i>
                                </h6>
                            </div>
                        </div>
                        <div class="stat-grid p-3 mt-3 d-flex align-items-center justify-content-between">
                            <div class="s-l">
                                <h5 style="color:black">Customer</h5>

                            </div>
                            
                        </div>
                        
                        </center>

                    </div>


                    <!-- Stats -->
                    <div class="outer-w3-agile col-xl">
                        <center>
                            <h1 style="color:black"><u> Management</u></h1>
                        <div class="stat-grid p-3 mt-3 d-flex align-items-center justify-content-between">
                            <div class="s-l">
                                <h5 style="color:black">Change Password</h5>

                            </div>
                            <div class="s-r">
                                <h6 style="color:black">250
                                    <i style="color:black" class="fas fa-key"></i>
                                </h6>
                            </div>
                        </div>
                      
                        <div class="stat-grid p-3 mt-3 d-flex align-items-center justify-content-between" ">
                            <div class="s-l">
                                <h5 style="color:black">Alredy Books:248</h5>

                            </div>
                            
                        </div>
                        </center>

                    </div>
                    <!--// Stats -->




                    <!-- Pie-chart -->

                </div>
